{:deps {current/project {:local/root "."}
        io.github.borkdude/quickdoc {:git/url "https://github.com/borkdude/quickdoc"
                                     :git/sha "b290f60fd68380485b613c711d98bea172f2f221"}}
 :tasks {quickdoc
         {:task (exec 'quickdoc.api/quickdoc)
          :exec-args {:git/branch "main"
                      :github/repo "https://github.com/borkdude/gh-release-artifact"}}}}
